.navbar-brand{
    font-weight: 700;
    color: #222;
    font-size: large;
}
.d-flex{
    width: 100%;
}

.right{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    align-items: center;

}
.right .btn{
    display: flex;
    border-radius: 40%;
    background-color: transparent;
    border-bottom-color: #EC9704;
    border-top-color: #344C11;
    border-width: 4px;
    margin-left: 1rem;
    
}
.right .btn a{
    margin-left: 0;
    padding-left: 0;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    /* font-size: 1.4rem; */
}
.right .btn span{
    margin-right: 0;
    padding-right: 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.right a{
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: #333;
}

.right a:hover{
    text-decoration: underline;
    color: #333;
}
.collapse .d-flex .form-control{
    border-right: none;
    border-radius: 5px 0 0px 5px;
}

.collapse .d-flex .form-control:focus{
    border-color: none;
    box-shadow:none
}

.collapse .d-flex .btn{
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.collapse .d-flex .btn:hover{
    background-color: #333;
}


.bottom-nav{
    width: 100%;

}
.bottom-nav ul{
    width: 100%;
    margin-right: 0;
}
.bottom-nav ul li{
    margin-left: 10px;
    color: #222;
}

.bottom-nav ul li a{
    color: #222;
    font-weight: 700;
}

.main-cont{margin-top: 25px;}


.carousel-inner{
    height: 196px;
    width: 1280px;
    border-radius: 5px;
}

.row .rec{
    font-size: 1.596rem;
    color: #002f34;
    margin-bottom: 0.8rem;
}



.row .col-sm-3 .card .card-body h4{
    color: #453C41;
    line-height: 1.8rem;
    font-size: 1.4rem;
}
.row .col-sm-3 .card .card-body h6{
    color: #7B7C81;
}
.row .col-sm-3 .card .card-body .own{
    color: #453C41;
}

.row .col-sm-3 .card .card-body .btn{
    background-color: #7B586B;
}
.pagination{
    text-align: center;
    align-items: center;
    align-content: center;
}

.pagination .step-links{
    text-align: center;
    align-items: center;
    align-content: center;
}

.pagination{
    align-items: center;
    justify-content: center;
}
/* ========================================================================================================================= */


.home{
    align-items: center;
}


/* ===================================================================== */
/* #content-wrapper{ */
	/* display: flex; */
	/* flex-wrap: wrap;
	justify-content: center;
	align-items: center; */
/* } */

/* .column{
	width: 600px;
	padding: 10px;

} */

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

.column .cc{
    display: flex;
    flex-direction: column;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.scrollmenu a:hover{
    color: #333;
}

/* .row .dat{
    width: 50%;
} */

.update-links{
    margin-left: 0;
    padding-left: 0;
}

.updater{
    align-content: center;
    align-items: center;
    /* background-color: #18b5ce; */
    padding: auto;
    margin: auto;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.input-group{
    display: flex;
    flex-direction: column;
}

.user-card p span{
    font-size: large;
    font-weight: 700;
   
    color: #344C11;
}

.user-card .bottom-btn{
 
    text-align: center;
}



.fom .col-span-2{
    display: flex;
    flex-direction: column;
}

.fom .button-style{
    display: flex;
    justify-content: space-evenly;
}

.update{
    margin-top: 5%;

}