{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'users/main.css' %}">

</head>
<body>

    <div class="container update shadow dark:bg-gray-800">
        <div class="d-flex justify-content-center h-100">
          
        <div class="user-card">
            <div class="d-flex justify-content-center">
            <h3 id="form-title">Your Profile</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
                {%csrf_token%}
                <div class="fom">
                    <div class="col-span-2">
                        <label for=""> First name</label>
                        <input  type="text" name="first" value="{{ user_credential.first_name }}" placeholder="" class="shadow-none bg-gray-100 form-control form-control-lg">
                    </div>
                    <hr>
                    <div class="col-span-2">
                        <label for=""> Last name</label>
                        <input type="text" name="last" value="{{ user_credential.last_name }}" placeholder="" class="shadow-none bg-gray-100 form-control form-control-lg">
                    </div>
                    <hr>
                        <div class="col-span-2">
                            <label for=""> ID no</label>
                            <input type="number" name="identitycardno" value="{{ user_credential.nationalno }}" placeholder="ID No" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for=""> Phone Number</label>
                            <input type="number" name="phone" value="{{ user_credential.phone }}" placeholder="Phone Number" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for=""> Profile Image</label>
                            <img class="mb-2" width="100" height="100" src="{{user_credential.user_image.url}}" alt="">
                            <input type="file" name="image" value="{{user_credential.user_image}}" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for=""> ID Image</label>
                            <img class="mb-2" width="100" height="100" src="{{user_credential.idimage.url}}" alt="">

                            <input type="file" name="id_pic" value="{{user_credential.idimage}}" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for=""> Location</label>
                            <input type="text" name="location" value="{{ user_credential.location }}" placeholder="" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="button-style">
                            <a class="btn btn-info rounded " href="/">Cancel</a>
                            <button class="btn btn-info rounded " type="submit" > Save </button>
                        </div>
                   
                
                
            </div>
            </form>
            </div>  
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>