{% extends 'frontend/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container mt-3">
    <div class="containr update-links mb-2">
        {% if user.id == product.poster.id %}
            <a class="btn btn-info" href="{% url 'frontend:update'  product.id%}">Update</a>
            <a class="btn btn-warning" href="{% url 'frontend:delete'  product.id%}">Delete</a>
        {% else %}
        {% endif %}
    
    </div>
        <div class="row" id="content-wrapper">
            
            <div class="col-md-7 column">
                <div class="imager" id="img-container">
                    <div id="lens"></div>
                    <img id=featured src="{{ product.thumbnail.url }}">
                </div>
                <div id="slide-wrapper" >
                    <img id="slideLeft" class="arrow" src="{% static 'frontend/images/arrow-left.png' %}">

                    <div id="slider">
                        {% for image in images %}
                            <img class="thumbnail" src="{{ image.image.url }}">
                        {% endfor %}
            
                    </div>

                    <img id="slideRight" class="arrow" src="{% static 'frontend/images/arrow-right.png' %}">
                </div>
            </div>

            <div class="  col-md-5 column">
                <h1>{{ product.product_name }}</h1>
                <hr>
                

                <p>{{product.description}}</p>
                {% for bid in bid_price %}
                <h3><span>Current Price</span> Ksh {{bid|intcomma}}</h3>
                {% endfor %}
                
                {% if user.id == product.poster.id %}
                <div class="des">
                    <p>Your Target Price Ksh {{product.price|intcomma}}</p>
                </div>
                {% else %}
                <div class="des">
                    <p>Owners Target Price Ksh {{product.price|intcomma}}</p>
                </div>
                {%endif%}
                {% if user.id == product.poster.id %}
                {% else %}
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'frontend:details'  product.id%}" class="d-flex bid-st">
                   {%csrf_token%}
                    <input name="bid" class="form-control-sm me-2" type="number" placeholder="place your Price">
                    <button type="submit" class="btn btn-outline-secondary">Place bid</button>
                </form>
                {% else %}
                <h5>Login to bid on this product</h5>
                {% endif %}
                {%endif%}
            </div>
        </div>
        <div class=" scrollmenu">
            {% for product in more %}
            <a class="scroll-dat" href="{% url 'frontend:details'  product.id%}">
                <div class="card mt-2" style="width: 16rem; ">
                    <img width="240" height="180" src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4 class="card-title tit">{{product.product_name}}</h4>
                    <h6 class="card-text">Current Bid KSh{{bids.bid|intcomma}}</h6>
                    <p class="card-title own">Owners Target: Ksh. {{product.price}}</p>
                    <p class="card-text">Time Left: {{product.timestamp|timesince}} ago</p>
                    </div>
                </div>
            </a>
            
            {% endfor %}
          </div>
</div>
{% endblock %}