{% extends 'frontend/main.html' %}
{% load static %}
{% block content %}
<div class="container main-cont">
  <div class="row mt-3">
    <div class="head-text">
        <span>Phones Tablets & Accessories</span>
        <hr>
    </div>

      {% for product in products %}
      <div class="col-md-3 col-6 mb-3">
        <div class="product-grid">
            <div class="product-image">
                <a href="{% url 'frontend:details'  product.id%}">
                    <img class="pic-1" src="{{product.thumbnail.url}}">
                    <img  class="pic-2" src="{{product.thumbnail.url}}">
                </a>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">20%</span>
            </div>
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
            </ul>
            <div class="product-content">
                <h3 class="title"><a href="#">{{product.product_name}}</a></h3>
                <div class="price">Current Price KSh {{product.price}} 
                    <span>Owners Target: Ksh20.00</span>
                    
                </div>
                <a class="add-to-cart" href="{% url 'frontend:details'  product.id%}"> Bid</a>
            </div>
        </div>
    </div>
      {% empty %}
      <h4>No Products yet!</h4>
  {% endfor %}
  </div>
  <div class="pagination mt-3">
    <span class="step-links">
        {% if products.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
            

        {% endif %}

        {% for num in products.paginator.page_range %}
          {% if products.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            
          {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          

          {% endif %}
       

        {% endfor %}

        <!-- <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span> -->

        {% if products.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ products.next_page_number }}">next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            

        {% endif %}
    </span>
</div>
{% endblock %}