{% extends 'frontend/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for product in products %}
    <div class="col-sm-3">
      
        <div class="card mt-2" style="width: 16rem; ">
            <img width="240" height="180" src="{{product.images.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h4 class="card-title tit">{{product.product_name}}</h4>
            <h6 class="card-text">Current Bid KSh{{bids.bid}}</h6>
            <p class="card-title own">Target: Ksh. {{product.price}}</p>
            <p class="card-text">Time Left: {{product.date_posted|timesince}} ago</p>
            <a href="{% url 'frontend:details'  product.id%}" class="btn btn-primary">Details</a>
            </div>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}
