{% extends 'frontend/main.html' %}
{% load static %}
{% block content %}
<div class="container updater">
        {% if user.id == product.poster.id %}
            <form  method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">{{form.product_name.label_tag}}</label>
                    {{form.product_name}}
                    <!-- <input type="text" class="form-control" id={{form.product_name}}> -->
                  </div>
                {{ form.as_p }}
                <h1>{{user.id}}=={{product.poster.id}}</h1>
                <button name="submit">Add topic</button>
            </form>
        {% else %}
        <h1>You Should not be here</h1>
        {% endif %}
</div>
<form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}