{% extends 'frontend/main.html' %}
{% load static %}
{% block content %}
        <!-- ==================================== -->

        <div class="container update shadow dark:bg-gray-800">
            <div class="d-flex justify-content-center h-100">
              
            <div class="user-card">
                <div class="d-flex justify-content-center">
                <h3 id="form-title">Your Profile</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="fom">
                        <div class="col-span-2">
                            <label for="">Product name</label>
                            <input  type="text" name="product_name" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for="">Price</label>
                            <input type="number" name="price" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                            <div class="col-span-2">
                                <div class="col-span-2">
                                    <label>Select a category</label>
                                        <select name="category" class="form-control">
                                            <option value='none'>Select a category...</option>
                    
                                            {% for category in categories %}
                                            <option value='{{category.id}}'>{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Expected Sales Date</label>
                                <input type="datetime" name="expected_sales_date" class="shadow-none bg-gray-100 form-control form-control-lg">
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Current Bid</label>
                                <input type="number" name="current_bid" class="shadow-none bg-gray-100 form-control form-control-lg">
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Product Details</label>
                                <textarea name="details" id="" ></textarea>
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Upload upto 10 images</label>    
                                <input required multiple name="images" type="file" class="shadow-none bg-gray-100 form-control form-control-lg">
                            </div>
                            <hr>
                            <div class="bottom-btn">
                                <button type="submit" class="btn btn-outline-info bg-blue-700"> Save </button>
                            </div>
                </div>
                </form>
                </div>  
            </div>
            </div>
        </div>
        <!-- ==================================== -->
{%endblock %}