{% extends 'frontend/main.html' %}
{% load static %}
{% load static i18n crispy_forms_tags %}
{% block content %}
        <!-- ==================================== -->

        <div class="container update shadow dark:bg-gray-800">
            <div class="d-flex justify-content-center h-100">
              
            <div class="user-card">
                <div class="d-flex justify-content-center">
                <h3 id="form-title">SELL PRODUCT</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                <form method="POST" action="" enctype="multipart/form-data" id="form">
                    {%csrf_token%}
                    <div class="fom">
                        <div class="col-span-2">
                            <label for="">Product name</label>
                            <input  type="text" name="product_name" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <div class="col-span-2" id="form">
                            <label for="">Product Image</label>
                            <!-- <input required name="images" type="file" multiple > -->
                            <input type="file" name="thumbnail" id="image"  onchange="image_Select()">
                            <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                            <div class="d-flex flex-wrap justify-content-start mt-3" id="con">
                                
                            </div>  
                        </div>
                        <hr>
                        <div class="col-span-2">
                            <label for="">Price</label>
                            <input type="number" name="price" class="shadow-none bg-gray-100 form-control form-control-lg">
                        </div>
                        <hr>
                            <div class="col-span-2">
                                <div class="col-span-2">
                                    <label>Select a category</label>
                                        <select name="category" class="form-control">
                                            <option value='none'>Select a category...</option>
                    
                                            {% for category in categories %}
                                            <option value='{{category.id}}'>{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Expected Sales Date</label>
                                <input type="datetime" name="expected_sales_date" class="shadow-none bg-gray-100 form-control form-control-lg">
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Current Bid</label>
                                <input type="number" name="current_bid" class="shadow-none bg-gray-100 form-control form-control-lg">
                            </div>
                            <hr>
                            <div class="col-span-2">
                                <label for="">Describe Your Product</label>
                                <input required name="description" type="text" placeholder="Enter a description"
                                class="form-control">
                                <!-- <textarea name="details" id="" ></textarea> -->
                            </div>
                            <hr>
                            <div class="col-span-2" id="form">
                                <label for="">Upload Photos</label>
                                <!-- <input required name="images" type="file" multiple > -->
                                <input type="file" name="images" id="image" multiple onchange="image_Select()">
                                <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                                <div class="d-flex flex-wrap justify-content-start mt-3" id="con">
                                    
                                </div>  
                            </div>
                            <hr>
                            <div class="bottom-btn mb-5">
                                <button type="submit" class="btn btn-outline-info bg-blue-700"> Save </button>
                            </div>
                </div>
                </form>
                </div>  
            </div>
            </div>
        </div>        
    <!-- ==================================== -->
{%endblock %}