.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user-card .form_container .fom{
    display: flex;
    flex-direction: column;
}

.updater{
    margin-top: 10%;
    background-color: #74cfbf;
    width: 30%;
    border-radius: 5%;
}

.fom .col-span-2{
    display: flex;
    flex-direction: column;
}

.fom .button-style{
    display: flex;
    justify-content: space-evenly;
}

.update{
    margin-top: 5%;

}